<div class="app-container">

  <header class="app-header">
    <h1>Enterprise Access Governance</h1>
  </header>

  <div class="app-body">

    <aside class="sidebar">

      <nav>

          <a
            routerLink="/dashboard"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            Dashboard
          </a>

          <a
            routerLink="/employees"
            routerLinkActive="active">
            Employees
          </a>

          <a
            routerLink="/applications"
            routerLinkActive="active">
            Applications
          </a>

      </nav>

    </aside>

    <main class="app-content">
      <router-outlet></router-outlet>
    </main>

  </div>

</div>